.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

p{
  margin:0.5rem 0 0 0;
}

ol{
  margin-top: 0.8rem;
}

.lead{
  margin:0;
  p{
    margin-top:0;
  }
}

table:not(.highlight){
  margin-left: 0;
}

table.stretch-table{
  width: 100% !important;
}

code{
  background-color: #4fb1ba;
  border-radius:16px;
  color:#fff;
}

.post-date{
  margin-top: 0.5rem;
}